<!-- templates/matches.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>매칭 결과</title>
</head>
<body>
  <h1>대진표</h1>
  {% for match in matches %}
    <h2>{{ match.title }}</h2>
    <ul>
      {% for court, A, B in match.courts %}
        <li>{{ court }}:
          {{ A[0]["name"] }}({{ A[0]["rank"] }}), {{ A[1]["name"] }}({{ A[1]["rank"] }})
          vs
          {{ B[0]["name"] }}({{ B[0]["rank"] }}), {{ B[1]["name"] }}({{ B[1]["rank"] }})
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</body>
</html>
